<div class="row-fluid">

  <div class="span12">

    <div class="widget">

      <div class="widget-head">
        <div class="pull-left">Form</div>
        <div class="widget-icons pull-right">
          <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
          <a href="#" class="wclose"><i class="icon-remove"></i></a>
        </div>  
        <div class="clearfix"></div>
      </div>

      <div class="widget-content">

        <%= render 'form' %>

      </div>

    </div>


  </div>

</div>

        </div>
      </div>

