
<div class="content"> 
    <div class="topbar">
      <form action="/mobile/home/search" method="get">
      <div class="logo"><img src="/assets/mobile/logo.png" width="379" height="96" /></div>
      <div class="seach"><input name="" type="text"  class="search-input"/>
	  <input name="" type="image" src="/assets/mobile/seachbtn.png" class="search-btn"/></div>
      </form>
    </div> 
    <a href="#" class="touch-l"></a>
	<a href="#" class="touch-r"></a>
	<div class="main">
	  <a href="/mobile/shops" class="ad01"></a>
      <a href="#" class="ad02"></a>
	  <a href="#" class="ad03"></a>
	  <a href="#" class="ad04"></a>
	  <a href="#" class="ad05"></a>
    </div>
    <div id="control_buttons" class="touch-nav">
	  <a href="/mobile/user_center" class="button01"></a>
	  <a href="#" class="button02"></a>
	  <a href="#" class="button03"></a>
	  <a id="button_to_close" href="#" class="buttonzhankai"></a>
	  <a href="#" class="button04"></a>
	  <a href="#" class="button05"></a>
	  <a href="#" class="button06"></a>
	  <a href="#" class="qiehuandizhi">
	    <div class="left"></div>
		<div class="centre">武汉·百步亭小区&nbsp;&nbsp;&nbsp;&nbsp;<span>切换地址</span></div>
		<div class="right"></div>
	  </a>
	</div>
    <a id="button_to_open" href="#" class="touch-navup" style="display: none"></a>
</div>

<% content_for :foot do -%>
    <%= javascript_include_tag "mobile/home" %>
<% end -%>

