<div class="content">

  <div class="topbar">

    <form action="" method="get">

      <div class="logo"><img src="/assets/mobile/logo.png" width="379" height="96" /></div>

      <div class="seach"><input name="" type="text"  class="search-input"/>

        <input name="" type="image" src="/assets/mobile/seachbtn.png" class="search-btn"/></div>

    </form>

  </div>

  <a href="#" class="touch-l"></a>

  <a href="#" class="touch-r"></a>

  <div class="main02 mb143">

    <div class="preferential-leftnav ">
         <a href="/mobile/shops/<%=@shop_id%>" class="preferential-leftnav01"></a>
         <a href="/mobile/products?shop_id=<%=@shop_id%>" class="preferential-leftnav02"></a>
         <a href="/mobile/shop_images?shop_id=<%=@shop_id%>" class="preferential-leftnav03 pre-current03"></a>
         <a href="/mobile/promos?shop_id=<%=@shop_id%>" class="preferential-leftnav04 "></a>
    </div>

    <div class="pay-right">

      <div href="#" class="preferential-xiangqing ">商家图片</div>

      <div class="preferential-xiangqingmain">

        <div class="pre-menu"><a href="#" class="pre-current03">所有</a><a href="#" class="pre-menu-a">门面</a><a href="#" class="pre-menu-a">店内环境</a><a href="#" class="pre-menu-a">菜式/菜单</a><a href="#" class="pre-menu-a">店内员工</a><a href="#" class="pre-menu-a">其他</a>

        </div>

      <% @shop_images.each do |shop_image|%>


        <div class="pre-img">

          <a href="#"><img src="<%=shop_image.image.url%>" width="257" height="197" /></a>

          <a href="#" class=""><%=shop_image.name%></a>

        </div>
      <% end %>


      </div>

      <div class="up-down">

        <a href="#"><img src="/assets/mobile/preferential08.png" width="100" height="32" /></a>

        <a href="#"><img src="/assets/mobile/preferential09.png" width="100" height="32" /></a>

      </div>

    </div>

  </div>

  <%= render :partial => "layouts/bottom_buttons" %>
</div>

