<div class="bottom mt20">
  <div class="footer-nav">
    <a href="#">关于我们</a>  |  <a href="#">免则条款</a>  |  <a href="#">隐私保护</a>  |  <a href="#">法律声明</a>  |  <a href="#">联系我们</a>  |  <a href="#">网站地图</a>
  </div>
  <p>中国域名：中国民生银行 京ICP备05202372号  电信业务审批[2004]字第440函</p>
  <p>24小时客户服务热线：95568 对公专线：4006895568  小微金融服务热专线：4008695568 电信业务审批[2004]字第520函</p>
</div>
