<div class="nav-indextwo">
  <form action="" method="get">
    <dl>
      <dd><a href="/">首页</a></dd>
      <dd><%= link_to '特惠商户', shops_path %></dd>
      <dd><a href="#">生活缴费</a></dd>
      <dd><a href="#">业务预约 </a></dd>
      <dt><input name="" type="text" />
      <input name="" type="image" src="/assets/images/index05.jpg" class="search-btn"/>
      </dt>
    </dl>
  </form>
</div>

<div class="two-logo">
  <span>生活 · 服务</span>
  <strong>[ 武汉 | 百步亭小区 ]</strong>
  <a href="#" class="two-logo-a"> [ 切换地址&nbsp;&nbsp;]</a>
  <div class="two-menu"><a href="#">百步亭</a><a href="#">地球村</a><a href="#">更多</a></div>
</div>
