<ul>
<% @provinces.each do |province| %>
    <li><strong><%= province.name %></strong><br/>
      <% province.cities.each do |city| %>
        <%= city.name %>
      <% end %>
    </li>
  <% end %>
</ul>
