<ul>
<% @provinces.each do |province| %>
    <li><strong><%= province.name %></strong><br/>
      <% province.cities.each do |city| %>
        <a href="/?city=<%= city.name %>"><%= city.name %></a>
      <% end %>
    </li>
  <% end %>
</ul>
