<div class="content">
    <div class="topbar">
      <form action="" method="get">
      <div class="logo"><img src="/assets/images/logo.png" width="379" height="96" /></div>
      <div class="seach"><input name="" type="text"  class="search-input"/>
    <input name="" type="image" src="/assets/images/seachbtn.png" class="search-btn"/></div>
      </form>
    </div>
<a href="#" class="touch-l"></a>
  <a href="#" class="touch-r"></a>
  <div class="main04 pt150 mb143">
       <div class="retrieve-title"><img src="/assets/images/retrievetitle02.png" width="275" height="93" /></div>
       <div class="retrieve-main">
         <form action="" method="get">
         <h2>已发送重置密码方式到该邮箱，请按照流程操作。</h2>
         <div class="line"><img src="/assets/images/retrieve06.jpg" width="1007" height="65" /></div>
         <div class="retrieve03">密码修改成功!</div>
         <div class="retrieve04"><a href="#">返回首页</a><a href="#">登录我的家园</a></div>
         </form>
      </div>
    </div>
  <%= render :partial => "layouts/bottom_buttons" %>
</div>
