<div class="content">
    <div class="topbar">
      <form action="" method="get">
      <div class="logo"><img src="/assets/images/logo.png" width="379" height="96" /></div>
      <div class="seach"><input name="" type="text"  class="search-input"/>
    <input name="" type="image" src="/assets/images/seachbtn.png" class="search-btn"/></div>
      </form>
    </div>
<a href="#" class="touch-l"></a>
  <a href="#" class="touch-r"></a>
  <div class="main04 pt150 mb143">
    <div class="retrieve-title">
      <img src="/assets/images/retrievetitle03.png" width="275" height="93" />
    </div>
      <div class="retrieve-main">
      <div class="retrieve05">
        <!-- 手机 start -->
        <%= form_tag(mobile_password_token_path, :method => 'get') do %>
        <div class="left">验证手机号码找回<strong>[推荐]</strong>
          <span>请输入您的手机号，找回密码：</span>
          <div class="retrieve05-input">
            <div class="retrieveleft02"></div>
            <div class="retrieve-center02">
              <input id="mobile" name="mobile" type="text" class="retrieve-input" />
            </div>
            <div class="retrieve-right02"></div>
          </div>
          <div class="nextbtn02">
            <input name="" type="image" src="/assets/images/next02.jpg" class="loginbtn"/>
          </div>
        </div>
        <% end %>
        <!-- 手机 end -->
        <div class="retrieveline">
          <img src="/assets/images/retrieveline.jpg" width="1" height="192" />
        </div>
        <!-- 邮箱 start -->
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        <div class="right">验证电子邮箱找回<span>请输入您注册的电子邮箱，找回密码：</span>
          <div class="retrieve05-input">
            <div class="retrieveleft02"></div>
              <div class="retrieve-center02">
                 <%= f.email_field :email, :class=>"retrieve-input" %>
              </div>
            <div class="retrieve-right02"></div>
          </div>
          <div class="nextbtn02">
            <input name="" type="image" src="/assets/images/next02.jpg" class="loginbtn"/>
          </div>
        </div>
        <% end %>
        <!-- 邮箱 end -->
         </div>
      </div>
    </div>
  <%= render :partial => "layouts/bottom_buttons" %>
</div>
