<div class="content">
    <div class="topbar">
      <form action="" method="get">
      <div class="logo"><img src="/assets/images/logo.png" width="379" height="96" /></div>
      <div class="seach"><input name="" type="text"  class="search-input"/>
    <input name="" type="image" src="/assets/images/seachbtn.png" class="search-btn"/></div>
      </form>
    </div>
<a href="#" class="touch-l"></a>
  <a href="#" class="touch-r"></a>
  <div class="main04 pt150 mb143">
       <div class="retrieve-title"><img src="/assets/images/retrievetitle.png" width="275" height="93" /></div>
       <div class="retrieve-main">
         <div class="line"><img src="/assets/images/retrieve04.jpg" width="1007" height="65" /></div>
         <div class="retrieve03">密码修改成功!</div>
         <div class="retrieve04">
          <%= link_to "返回首页",root_path %>
          <%= link_to "登录我的家园", mobile_users_sign_in_path %>
        </div>
      </div>
    </div>
    <a href="#" class="touch-navup"></a>
</div>
