<div class="content">
    <div class="topbar">
      <form action="" method="get">
      <div class="logo"><img src="/assets/images/logo.png" width="379" height="96" /></div>
      <div class="seach"><input name="" type="text"  class="search-input"/>
    <input name="" type="image" src="/assets/images/seachbtn.png" class="search-btn"/></div>
      </form>
    </div>
<a href="#" class="touch-l"></a>
  <a href="#" class="touch-r"></a>
  <div class="main04 pt150 mb143">
       <div class="retrieve-title">
        <img src="/assets/images/retrievetitle.png" width="275" height="93" />
       </div>
       <div class="retrieve-main">
        <%= form_tag(mobile_users_phone_verify_password_token_path, :method => 'get') do %>
           <h2>已发送验证码到该手机，收到之前请勿关闭此页面。</h2>
           <div class="line">
             <img src="/assets/images/retrieve02.jpg" width="1007" height="65" />
           </div>
           <div class="retrieve01">
              <div class="retrieveverify">请输入收到的验证码：</div>
              <div class="retrieveleft"></div>
              <div class="retrieve-center">
                <input type="hidden" name="id" value="<%= @id %>">
                <input name="captcha_code" type="text" class="retrieve-input" />
              </div>
              <div class="retrieve-right"></div>
           </div>
           <div class="nextbtn"><input name="" type="image" src="/assets/images/next.jpg" class="loginbtn"/></div>
        <% end %>
      </div>
    </div>
  <%= render :partial => "layouts/bottom_buttons" %>
</div>
