
<div class="content">
  <%= render :partial => "layouts/top_search" %>
<a href="#" class="touch-l"></a>
	<a href="#" class="touch-r"></a>
	<div class="home-main mb143">
       <div class="home-leftnav">
         <a href="favorite" class="home-leftnav01"></a>
         <a href="foot_print" class="home-leftnav02"></a>
         <a href="system_message" class="home-leftnav03"></a>
         <a href="comment" class="home-leftnav04 home-current04"></a>
         <a href="edit_info" class="home-leftnav05"></a>
         <div class="home-leftnav06"></div>
       </div>
       <div class="home-right">
          <div href="#" class="preferential-xiangqing"><a href="#" class="fanhui"><img src="/assets/mobile/fanhui.png" width="31" height="31" /></a>我的点评</div>
          <div class="home-rightmain">
            <div class="left">
            <a href="#"><img src="/img/home.png" width="335" height="237" /><h3>[四川] 鲜鱼馆(一元路店) </h3></a>
            <p class="pl10">中山大道1174号</p>
            <p class="pl10"><span class="price">￥60</span>027-83699099 83699199</p>
            <div class="reviews pl10 mt10"><p>口味：3  环境：2  服务：4</p><div class="reviews-a"></div><div class="reviews-a"></div><div class="reviews-a"></div><div class="reviews-a"></div><div class="reviews-a reviews-current"></div><span class="reviews-grade">3.9</span></div>
            </div>
            <div class="right mt20">
              <h4><span class="fabiaoshijian cgray02 f14">发表于:13-09-03 18:53</span>我的点评</h4>
              <p class="mt20 indent">青年路这家戈雅牛排法餐厅.环境很好.装修很别致.干净整洁.让人胃口很好食欲大增.这里的服务很认真负责.服务员很有内在修养.服务素质很高.这家我还是第一次来.吃过这里的台塑牛排后感觉比民众乐园对面的一家好多了.真是不比不知道啊！味道就是更合口.还有这里的法式鹅肝.法式蜗牛汤和蒜香面包等等.都做得很好.合味口.这里的价格也和大众一样.没什么特别....！</p>
              <p class="corange mt20 f14">推荐菜：妈妈熏肉 锅包肉</p>
              <p class="corange f14">餐厅特色： 能刷卡 有下午茶 </p>
              <p class="corange f14">停车信息： 免费停车</p>
              <p class="mt20"><a href="#">有用（9）</a><a href="#" class="ml20">没用（9）</a></p>
            </div>

            <a href="#" class="delete"></a>
              <div class="up-down">
                <a href="#"><img src="/assets/mobile/preferential08.png" width="100" height="32" /></a>
                <a href="#" class="ml150"><img src="/assets/mobile/preferential09.png" width="100" height="32" /></a>
              </div>
        </div>


        <div class="home-rightmain">
              <div class="dianpinglistmain">
                <div class="dianpinglist">
                <div class="left">
            <a href="#"><img src="/img/home.png" width="335" height="237" /><h3>[四川] 鲜鱼馆(一元路店) </h3></a>
            <p class="pl10">中山大道1174号</p>
            <p class="pl10"><span class="price">￥60</span>027-83699099 83699199</p>
            <div class="reviews pl10 mt10"><p>口味：3  环境：2  服务：4</p><div class="reviews-a"></div><div class="reviews-a"></div><div class="reviews-a"></div><div class="reviews-a"></div><div class="reviews-a reviews-current"></div><span class="reviews-grade">3.9</span></div>
            </div>
                <div class="right mt20">
              <h4><span class="fabiaoshijian cgray02 f14">发表于:13-09-03 18:53</span>我的点评</h4>
              <p class="mt20 indent">青年路这家戈雅牛排法餐厅.环境很好.装修很别致.干净整洁.让人胃口很好食欲大增.这里的服务很认真负责.服务员很有内在修养.服务素质很高.这家我还是第一次来.吃过这里的台塑牛排后感觉比民众乐园对面的一家好多了.真是不比不知道啊！味道就是更合口.还有这里的法式鹅肝.法式蜗牛汤和蒜香面包等等.都做得很好.合味口.这里的价格也和大众一样.没什么特别....！</p>
              <p class="corange mt20 f14">推荐菜：妈妈熏肉 锅包肉</p>
              <p class="corange f14">餐厅特色： 能刷卡 有下午茶 </p>
              <p class="corange f14">停车信息： 免费停车</p>
              <p class="mt20"><a href="#">有用（9）</a><a href="#" class="ml20">没用（9）</a></p>
            </div>
                <a href="#" class="delete"></a>
                </div>
                <div class="dianpinglist">
                <div class="left">
            <a href="#"><img src="/img/home.png" width="335" height="237" /><h3>[四川] 鲜鱼馆(一元路店) </h3></a>
            <p class="pl10">中山大道1174号</p>
            <p class="pl10"><span class="price">￥60</span>027-83699099 83699199</p>
            <div class="reviews pl10 mt10"><p>口味：3  环境：2  服务：4</p><div class="reviews-a"></div><div class="reviews-a"></div><div class="reviews-a"></div><div class="reviews-a"></div><div class="reviews-a reviews-current"></div><span class="reviews-grade">3.9</span></div>
            </div>
                <div class="right mt20">
              <h4><span class="fabiaoshijian cgray02 f14">发表于:13-09-03 18:53</span>我的点评</h4>
              <p class="mt20 indent">青年路这家戈雅牛排法餐厅.环境很好.装修很别致.干净整洁.让人胃口很好食欲大增.这里的服务很认真负责.服务员很有内在修养.服务素质很高.这家我还是第一次来.吃过这里的台塑牛排后感觉比民众乐园对面的一家好多了.真是不比不知道啊！味道就是更合口.还有这里的法式鹅肝.法式蜗牛汤和蒜香面包等等.都做得很好.合味口.这里的价格也和大众一样.没什么特别....！</p>
              <p class="corange mt20 f14">推荐菜：妈妈熏肉 锅包肉</p>
              <p class="corange f14">餐厅特色： 能刷卡 有下午茶 </p>
              <p class="corange f14">停车信息： 免费停车</p>
              <p class="mt20"><a href="#">有用（9）</a><a href="#" class="ml20">没用（9）</a></p>
            </div>
                <a href="#" class="delete"></a>
                </div>
              </div>
              <div class="up-down">
                <a href="#"><img src="/assets/mobile/preferential08.png" width="100" height="32" /></a>
                <a href="#" class="ml150"><img src="/assets/mobile/preferential09.png" width="100" height="32" /></a>
              </div>
        </div>





       </div>

    </div>
    <a href="#" class="touch-navup"></a>
</div>
