
<div class="content">
    <div class="topbar">
      <form action="" method="get">
      <div class="logo"><img src="/assets/mobile/logo.png" width="379" height="96" /></div>
      <div class="seach"><input name="" type="text"  class="search-input"/>
	  <input name="" type="image" src="/assets/mobile/seachbtn.png" class="search-btn"/></div>
      </form>
    </div>
<a href="#" class="touch-l"></a>
	<a href="#" class="touch-r"></a>
	<div class="home-main mb143">
       <div class="home-leftnav">
         <a href="favorite" class="home-leftnav01"></a>
                  <a href="foot_print" class="home-leftnav02"></a>
                  <a href="system_message" class="home-leftnav03 "></a>
                  <a href="comment" class="home-leftnav04"></a>
                  <a href="edit_info" class="home-leftnav05 home-current05"></a>
         <div class="home-leftnav06"></div>
       </div>
       <div class="home-right">
          <div href="#" class="preferential-xiangqing"><a href="#" class="fanhui"><img src="/assets/mobile/fanhui.png" width="31" height="31" /></a>账户设置</div>
          <div class="home-rightmain04 pt30">
            <h3>
                          <a href="edit_info" class="home-rightmain04-nav ml20">个人资料</a>
                          <a href="edit_image" class="home-rightmain04-nav">修改头像</a>
                          <a href="edit_password" class="home-rightmain04-nav current">修改密码</a>
                        </h3>
            <div class="home-rightmain04-tab">
              <div class="xiugaimima ml100 mt40">
                <div class="shurumima">当前密码：</div>
                <div class="selectbg-left"></div><div class="xiugaimima-center"><input name="" type="password" class="tijiao-input" /></div><div class="selectbg-right02"></div>
              <div class="wrongtips03"><img src="/assets/mobile/wrongtips.jpg" width="19" height="19" />用户名已存在</div>
             </div>
      <div class="xiugaimima ml100">
                <div class="shurumima tr">新密码：</div>
                <div class="selectbg-left"></div><div class="xiugaimima-center"><input name="" type="text" class="tijiao-input" value="6-12个字符，由英文字母（区分大小写）、数字或符号组成" /></div><div class="selectbg-right02"></div>
              <div class="wrongtips03"><img src="/assets/mobile/wrongtips.jpg" width="19" height="19" />用户名已存在</div>
             </div>
             <div class="xiugaimima ml100">
                <div class="shurumima">确认密码：</div>
                <div class="selectbg-left"></div><div class="xiugaimima-center"><input name="" type="password" class="tijiao-input" /></div><div class="selectbg-right02"></div>
              <div class="wrongtips03"><img src="/assets/mobile/wrongtips.jpg" width="19" height="19" />用户名已存在</div>
             </div>
             <div class="tijiaoxiugai02"><input name="" type="image" src="/assets/mobile/tijiao.jpg" class="loginbtn"/></div>
            </div>





        </div>

       </div>

    </div>
  <%= render :partial => "layouts/bottom_buttons" %>
</div>
