
<div class="content">
  <%= render :partial => "layouts/top_search" %>
<a href="#" class="touch-l"></a>
	<a href="#" class="touch-r"></a>
	<div class="home-main mb143">
       <div class="home-leftnav">
         <a href="favorite" class="home-leftnav01"></a>
         <a href="foot_print" class="home-leftnav02"></a>
         <a href="system_message" class="home-leftnav03 "></a>
         <a href="comment" class="home-leftnav04"></a>
         <a href="edit_info" class="home-leftnav05 home-current05"></a>
         <div class="home-leftnav06"></div>
       </div>
       <div class="home-right">
          <div href="#" class="preferential-xiangqing"><a href="#" class="fanhui"><img src="/assets/mobile/fanhui.png" width="31" height="31" /></a>账户设置</div>
          <div class="home-rightmain04 pt30">
            <h3>
              <a href="edit_info" class="home-rightmain04-nav ml20 current">个人资料</a>
              <a href="edit_image" class="home-rightmain04-nav">修改头像</a>
              <a href="edit_password" class="home-rightmain04-nav">修改密码</a>
            </h3>
            <div class="home-rightmain04-tab">
              <p class="ml110 mt20">用户名：玲珑阁主</p>
              <p class="ml90 mt20">电子邮箱：linglonggezhu@126.com</p>

              <div class="ml90 mt20 suoyouxiaoqu-p">
              <h4 class="suoyouxiaoqutitle">所有小区：</h4>
              <div class="suoyouxiaoqu">
                <a href="#" class="selectbar266"><div class="selectbg-left"></div><div class="selectbg-center03">武汉市</div><div class="selectbg-right"></div></a>
                </div>

                <div class="suoyouxiaoqu02">
                <a href="#" class="selectbar266"><div class="selectbg-left"></div><div class="selectbg-center03">武汉市</div><div class="selectbg-right"></div></a>
                <a href="#" class="selectbar266"><div class="selectbg-left"></div><div class="selectbg-center w186">武昌市</div><div class="selectbg-right02"></div></a>
                 <a href="#" class="selectbar266"><div class="selectbg-left"></div><div class="selectbg-center w186">武昌市</div><div class="selectbg-right02"></div></a>
                <a href="#" class="selectbar266"><div class="selectbg-left"></div><div class="selectbg-center w186">武昌市</div><div class="selectbg-right02"></div></a>
                </div>

                <div class="suoyouxiaoqu03">
                <a href="#" class="selectbar266"><div class="selectbg-left"></div><div class="selectbg-center03">武汉市</div><div class="selectbg-right"></div></a>
                <a href="#" class="selectbar266"><div class="selectbg-left"></div><div class="selectbg-center w186">武昌市</div><div class="selectbg-right02"></div></a>
                 <a href="#" class="selectbar266"><div class="selectbg-left"></div><div class="selectbg-center w186">武昌市</div><div class="selectbg-right02"></div></a>
                <a href="#" class="selectbar266"><div class="selectbg-left"></div><div class="selectbg-center w186">武昌市</div><div class="selectbg-right02"></div></a>
                </div>
                <div style="clear:both;"></div>
                </div>


                 <p class=" ml130 mt20">性别：<span class="mr20"><input name="" type="radio" value="" class="mr10"/>男</span><input name="" type="radio" value="" class="mr10"/>女</p>
                 <p class="ml70 mt20"><input name="" type="radio" value="" class="mr10"/>绑定手机号码</p>
                 <div class="bangdingshouji ml70 mt20">
                   <div class="bangdingshouji-tab"><span>手机号码：</span><div class="selectbar230"><div class="selectbg-left"></div><div class="selectbg-center"><input name="" type="text" class="client-input" /></div><div class="selectbg-right02"></div></div><input name=""  type="image" src="/assets/mobile/yanzheng.png"/></div>
                   <div class="bangdingshouji-tab"><span>手机验证码：</span><div class="selectbar230"><div class="selectbg-left"></div><div class="selectbg-center"><input name="" type="text" class="client-input" /></div><div class="selectbg-right02"></div></div></div>
                 </div>
                  <p class="ml90 mt20">联系方式：<span class="f16">如果你在活动中获得了奖品，我们将按照以下收货地址邮寄奖品，所以请填写真实的收货信息。</span></p>
                  <div class="shoushuorenxingming ml70 mt20"><span class="mr20">收货人姓名：</span><div class="selectbar230"><div class="selectbg-left"></div><div class="selectbg-center"><input name="" type="text" class="client-input" /></div><div class="selectbg-right02"></div></div></div>
                  <div class="shoushuorenxingming ml90 mt20"><span class="mr20">收货地址：</span><div class="selectbar230"><div class="selectbg-left"></div><div class="selectbg-center"><input name="" type="text" class="client-input" /></div><div class="selectbg-right02"></div></div></div>
                  <div class="shoushuorenxingming ml130 mt20"><span class="mr20">邮编：</span><div class="selectbar230"><div class="selectbg-left"></div><div class="selectbg-center"><input name="" type="text" class="client-input" /></div><div class="selectbg-right02"></div></div></div>
                  <div class="shoushuorenxingming ml90 mt20"><span class="mr20">联系电话：</span><div class="selectbar230"><div class="selectbg-left"></div><div class="selectbg-center"><input name="" type="text" class="client-input" /></div><div class="selectbg-right02"></div></div></div>
                <p class=" ml70 mt20"><input name=""  type="image" src="/assets/mobile/tijiao.png" class="tijiaoxiugai" width="142" height="49"/> </p>
            </div>




              <div class="up-down">
                <a href="#"><img src="/assets/mobile/preferential08.png" width="100" height="32" /></a>
                <a href="#" class="ml150"><img src="/assets/mobile/preferential09.png" width="100" height="32" /></a>
              </div>
        </div>

       </div>

    </div>
  <%= render :partial => "layouts/bottom_buttons" %>
</div>
