
<div class="content">
  <%= render :partial => "layouts/top_search" %>
<a href="#" class="touch-l"></a>
	<a href="#" class="touch-r"></a>
	<div class="home-main mb143">
       <div class="home-leftnav">
         <a href="favorite" class="home-leftnav01"></a>
         <a href="foot_print" class="home-leftnav02"></a>
         <a href="system_message" class="home-leftnav03 "></a>
         <a href="comment" class="home-leftnav04"></a>
         <a href="edit_info" class="home-leftnav05 home-current05"></a>
         <div class="home-leftnav06"></div>
       </div>
       <div class="home-right">
          <div href="#" class="preferential-xiangqing"><a href="#" class="fanhui"><img src="/assets/mobile/fanhui.png" width="31" height="31" /></a>账户设置</div>
          <div class="home-rightmain04 pt30">
            <h3>
              <a href="edit_info" class="home-rightmain04-nav ml20 ">个人资料</a>
              <a href="edit_image" class="home-rightmain04-nav current">修改头像</a>
              <a href="edit_password" class="home-rightmain04-nav">修改密码</a>
            </h3>
            <div class="home-rightmain04-tab">
              <div class="xiugaitouxiang">
              <h4>当前头像</h4>
              <div class="touxiang03"><div class="touxiangyimg"><img src="/img/touxiang.jpg" width="120" height="120" /></div><h5>大尺寸120*120像素</h5></div>
              <div class="touxiang02"><div class="touxiangyimg02"><img src="/img/touxiang02.jpg" width="60" height="60" /></div><h5>大尺寸60*60像素</h5></div><input name="" type="image" src="/assets/mobile/shangchuantouxiang.jpg" class="shangchuan-btn"/>
              </div>
            </div>





        </div>

       </div>

    </div>
    <a href="#" class="touch-navup"></a>
</div>
