
<div class="content">
    <div class="topbar">
      <form action="" method="get">
      <div class="logo"><img src="/assets/mobile/logo.png" width="379" height="96" /></div>
      <div class="seach"><input name="" type="text"  class="search-input"/>
	  <input name="" type="image" src="/assets/mobile/seachbtn.png" class="search-btn"/></div>
      </form>
    </div>
<a href="#" class="touch-l"></a>
	<a href="#" class="touch-r"></a>
	<div class="home-main mb143">
       <div class="home-leftnav">
         <a href="favorite" class="home-current"></a>
         <a href="foot_print" class="home-leftnav02"></a>
         <a href="system_message" class="home-leftnav03"></a>
         <a href="comment" class="home-leftnav04"></a>
         <a href="edit_info" class="home-leftnav05"></a>
         <div class="home-leftnav06"></div>
       </div>
       <div class="home-right">
          <div href="#" class="preferential-xiangqing"><a href="#" class="fanhui"><img src="/assets/mobile/fanhui.png" width="31" height="31" /></a>我的收藏</div>
          <div class="wodeshoucang-rightmain">
          <div class="listmain">
            <div class="list">
               <h3 class="listtitle mt10 ml20 corange02">四川鲜鱼馆(一元路店)<span class="cgray02 ml20 f16">收藏于2012-10-02 19：11</span></h3>
               <p class="ml20 mt10">中山大道1174号 <span class=" ml20">027-83699099 83699199</span></p>
               <div class="pingfen mt10"><div class="reviews-a mt"></div><div class="reviews-a"></div><div class="reviews-a"></div><div class="reviews-a"></div><div class="reviews-a reviews-current"></div><span class="reviews-grade">3.9</span></div><div class="kouwei mt10">口味：3  环境：2  服务：4</div>
               <div class="renjunxiaofei">人均：<span class="f30 corange02">￥60</span></div>
               <a href="#" class="delete"></a>
            </div>
            <div class="list02">
               <h3 class="listtitle mt10 ml20 corange02">四川鲜鱼馆(一元路店)<span class="cgray02 ml20 f16">收藏于2012-10-02 19：11</span></h3>
               <p class="ml20 mt10">中山大道1174号 <span class=" ml20">027-83699099 83699199</span></p>
               <div class="pingfen mt10"><div class="reviews-a mt"></div><div class="reviews-a"></div><div class="reviews-a"></div><div class="reviews-a"></div><div class="reviews-a reviews-current"></div><span class="reviews-grade">3.9</span></div><div class="kouwei mt10">口味：3  环境：2  服务：4</div>
               <div class="renjunxiaofei">人均：<span class="f30 corange02">￥60</span></div>
               <a href="#" class="delete"></a>
            </div>
            <div class="list">
               <h3 class="listtitle mt10 ml20 corange02">四川鲜鱼馆(一元路店)<span class="cgray02 ml20 f16">收藏于2012-10-02 19：11</span></h3>
               <p class="ml20 mt10">中山大道1174号 <span class=" ml20">027-83699099 83699199</span></p>
               <div class="pingfen mt10"><div class="reviews-a mt"></div><div class="reviews-a"></div><div class="reviews-a"></div><div class="reviews-a"></div><div class="reviews-a reviews-current"></div><span class="reviews-grade">3.9</span></div><div class="kouwei mt10">口味：3  环境：2  服务：4</div>
               <div class="renjunxiaofei">人均：<span class="f30 corange02">￥60</span></div>
               <a href="#" class="delete"></a>
            </div>
            <div class="list02">
               <h3 class="listtitle mt10 ml20 corange02">四川鲜鱼馆(一元路店)<span class="cgray02 ml20 f16">收藏于2012-10-02 19：11</span></h3>
               <p class="ml20 mt10">中山大道1174号 <span class=" ml20">027-83699099 83699199</span></p>
               <div class="pingfen mt10"><div class="reviews-a mt"></div><div class="reviews-a"></div><div class="reviews-a"></div><div class="reviews-a"></div><div class="reviews-a reviews-current"></div><span class="reviews-grade">3.9</span></div><div class="kouwei mt10">口味：3  环境：2  服务：4</div>
               <div class="renjunxiaofei">人均：<span class="f30 corange02">￥60</span></div>
               <a href="#" class="delete"></a>
               </div>
            </div>




              <div class="up-down">
                <a href="#"><img src="/assets/mobile/preferential08.png" width="100" height="32" /></a>
                <a href="#" class="ml150"><img src="/assets/mobile/preferential09.png" width="100" height="32" /></a>
              </div>
        </div>

       </div>

    </div>
  <%= render :partial => "layouts/bottom_buttons" %>
</div>
