
<div class="content">
    <div class="topbar">
      <form action="" method="get">
      <div class="logo"><img src="/assets/mobile/logo.png" width="379" height="96" /></div>
      <div class="seach"><input name="" type="text"  class="search-input"/>
	  <input name="" type="image" src="/assets/mobile/seachbtn.png" class="search-btn"/></div>
      </form>
    </div>
<a href="#" class="touch-l"></a>
	<a href="#" class="touch-r"></a>
	<div class="home-main mb143">
       <div class="home-leftbar">
          <div class="touxiang"><a href="#"><img src="/assets/mobile/home08.png" width="158" height="158" /></a></div>
          <h3 class="mt10">文艺青年</h3>
          <p class="pt20">我的点评：10</p>
          <p>我的收藏：10</p>
          <p>最近浏览：10</p>
          <p>消息提醒：10/100</p>
         </div>
       <div class="home-right">
          <div href="#" class="preferential-xiangqing"><a href="#" class="fanhui"><img src="/assets/mobile/fanhui.png" width="31" height="31" /></a>我的家园</div>
          <div class="home-rightmain02 pt80">
            <div class="homenav-list">
            <a href="favorite" class="wodeyuyu"></a>
            <p>我的收藏</p>
            </div>
            <div class="homenav-list">
            <a href="foot_print" class="zuijinliulan"></a>
            <p>最近浏览</p>
            </div>
            <div class="homenav-list">
            <a href="comment" class="wodedianping"></a>
            <p>我的点评</p>
            </div>
            <div class="homenav-list">
            <a href="system_message" class="xitongxiaoxi"></a>
            <p>系统消息</p>
            </div>
            <div class="homenav-list">
            <a href="edit_info" class="zhanghaoshezhi"></a>
            <p>账号设置</p>
            </div>
            <div class="homenav-list">
            <div class="yugao"></div>
            <span class="cgray">敬请期待</span>
            </div>

        </div>


       </div>

    </div>
    <a href="#" class="touch-navup"></a>
</div>
