
<div class="content">
  <%= render :partial => "layouts/top_search" %>
<a href="#" class="touch-l"></a>
	<a href="#" class="touch-r"></a>
	<div class="home-main mb143">
       <div class="home-leftnav">
         <a href="favorite" class="home-leftnav01"></a>
         <a href="foot_print" class="home-leftnav02"></a>
         <a href="system_message" class="home-leftnav03 home-current03"></a>
         <a href="comment" class="home-leftnav04"></a>
         <a href="edit_info" class="home-leftnav05"></a>
         <div class="home-leftnav06"></div>
       </div>
       <div class="home-right">
          <div href="#" class="preferential-xiangqing"><a href="#" class="fanhui"><img src="/assets/mobile/fanhui.png" width="31" height="31" /></a>系统提示</div>
          <div class="home-rightmain03 pt30">
          <div class="xitongtishilistmain">
            <div class="list">
               <div class="userimg mt10"><img src="/assets/mobile/userimg.png" width="70" height="70" /></div>
               <p class="mt10 ml20 corange">恭喜！你刚刚成功发表了首封点评<span class="cgray ml20">09月03日 19:04</span></p>
               <p class="ml20">亲爱的 xxxxx（用户昵称）</p>
               <p class="ml20">你在 xxxx店 发表了第一封点评，感谢你无私的分享 ^_^ 你的每一份真实评价，都让大家有了更多、更准你在 xxxx店 发表了第一封点评，感谢你无私的分享 ^_^ 你的每一份真实评价，都让大家有了更多、更准你在 xxxx店 发表了第一封点评，感谢你无私的分享 ^_^ 你的每一份真实评价，都让大家有了更多、更准确的消费参考。</p>
               <a href="#" class="delete"></a>
            </div>
            <div class="list02">
               <div class="userimg mt10"><img src="/assets/mobile/userimg.png" width="70" height="70" /></div>
               <p class="mt10 ml20 corange">恭喜！你刚刚成功发表了首封点评<span class="cgray ml20">09月03日 19:04</span></p>
               <p class="ml10 ml20">亲爱的 xxxxx（用户昵称）</p>
               <p class="ml10 ml20">你在 xxxx店 发表了第一封点评，感谢你无私的分享 ^_^ 你的每一份真实评价，都让大家有了更多、更准确的消费参考。</p>
               <a href="#" class="delete"></a>
            </div>
            <div class="list">
               <div class="userimg mt10"><img src="/assets/mobile/userimg.png" width="70" height="70" /></div>
               <p class="mt10 ml20 corange">恭喜！你刚刚成功发表了首封点评<span class="cgray ml20">09月03日 19:04</span></p>
               <p class="ml20">亲爱的 xxxxx（用户昵称）</p>
               <p class="ml20">你在 xxxx店 发表了第一封点评，感谢你无私的分享 ^_^ 你的每一份真实评价，都让大家。</p>
               <a href="#" class="delete"></a>
            </div>
            <div class="list02">
               <div class="userimg mt10"><img src="/assets/mobile/userimg.png" width="70" height="70" /></div>
               <p class="mt10 ml20 corange">恭喜！你刚刚成功发表了首封点评<span class="cgray ml20">09月03日 19:04</span></p>
               <p class="ml10 ml20">亲爱的 xxxxx（用户昵称）</p>
               <p class="ml10 ml20">你在 xxxx店 发表了第一封点评，感谢你无私的分享 ^_^ 你的每一份真实评价，都让大家有了更多、更准确的消费参考。</p>
               <a href="#" class="delete"></a>
            </div>

            </div>


              <div class="up-down">
                <a href="#"><img src="/assets/mobile/preferential08.png" width="100" height="32" /></a>
                <a href="#" class="ml150"><img src="/assets/mobile/preferential09.png" width="100" height="32" /></a>
              </div>
        </div>

       </div>

    </div>
    <a href="#" class="touch-navup"></a>
</div>
