<div class="row-fluid">
  <div class="span12">
    <div class="widget">

      <div class="widget-head">
        <div class="pull-left">编辑公告</div>
        <div class="clearfix"></div>
      </div>

      <div class="widget-content">
        <%= form_for [:admin, @notice], url: admin_notice_path, html: {id: 'edit_notice_form', class: "form-horizontal", style: 'width: 750px;'} do  |f| %>
          <%= render 'form', f: f, notice: @notice %>
        <% end %>
      </div>
    </div>
  </div>
</div>

