<h1 class="page-name">编辑公告</h1>

<%= form_for [:admin, @notice], url: admin_notice_path, html: {id: 'edit_notice_form', class: "form-horizontal", style: 'width: 750px;'} do  |f| %>
  <%= render 'form', f: f, notice: @notice %>
<% end %>

<%= content_for :foot do %>
  <%= javascript_include_tag "admin/notice" %>
<% end %>