<h1 class="page-name">新建公告</h1>

<%= form_for [:admin, @notice], html: {id: 'new_notice_form', class: "form-horizontal", style: 'width: 750px;'} do |f| %>
  <%= render 'form', f: f, notice: @notice %>
<% end %>