<div class="content">

  <a href="#" class="touch-l"></a>
  <a href="#" class="touch-r"></a>
  <div class="main">
    <a href="/mobile/shops/<%= @shops.first.id %>" class="ad06"></a>
    <a href="/mobile/shops/<%= @shops.second.id %>" class="ad07"></a>
    <a href="/mobile/shops/<%= @shops.third.id %>" class="ad08"></a>
    <a href="/mobile/shops/<%= @shops.fourth.id %>" class="ad09"></a>
    <a href="/mobile/home/search" class="ad10"></a>
  </div>
  <div class="touch-nav mt60">
    <a href="/mobile/user_center" class="button01"></a>
    <a href="#" class="button02"></a>
    <a href="#" class="button03"></a>
    <a href="#" class="buttonzhankai"></a>
    <a href="#" class="button04"></a>
    <a href="#" class="button05"></a>
    <a href="#" class="button06"></a>
    <a href="#" class="qiehuandizhi">
      <div class="left"></div>
      <div class="centre">武汉·百步亭小区&nbsp;&nbsp;&nbsp;&nbsp;<span>切换地址</span></div>
      <div class="right"></div>
    </a>
  </div>

</div>
