<div class="content"> 
  <div class="topbar">
    <form action="" method="get">
      <div class="logo"><img src="/assets/mobile/logo.png" width="379" height="96" /></div>
      <div class="seach"><input name="" type="text"  class="search-input"/>
        <input name="" type="image" src="/assets/mobile/seachbtn.png" class="search-btn"/></div>
    </form>
  </div> 

  <a href="#" class="touch-l"></a>
  <a href="#" class="touch-r"></a>
  <div class="main02 mb143">
    <div class="preferential-leftnav ">
         <a href="/mobile/shop/3" class="preferential-leftnav01"></a>
         <a href="/mobile/products" class="preferential-leftnav02"></a>
         <a href="/mobile/shop_images" class="preferential-leftnav03"></a>
         <a href="/mobile/promos" class="preferential-leftnav04 pre-current05"></a>
    </div>
    <div class="pay-right">
      <div href="#" class="preferential-xiangqing ">推荐菜</div>
      <div class="preferential-xiangqingmain">
        <div class="pre-menu"><a href="#"  class="pre-current03">夫妻肺片</a><a href="#" class="pre-menu-a">鱼香肉丝</a><a href="#" class="pre-menu-a">串串兔</a><a href="#" class="pre-menu-a">蒜泥白肉</a><a href="#" class="pre-menu-a">麻婆豆腐</a><a href="#" class="pre-menu-a">川北凉粉</a><a href="#" class="pre-menu-a">担担面</a><a href="#" class="pre-menu-a">福寿螺</a><a href="#" class="pre-menu-a">干煸藕丝</a><a href="#" class="pre-menu-a">桑拿牛蛙</a><a href="#" class="pre-menu-a">蟹黄豆腐</a><a href="#" class="pre-menu-a">辣子鸡</a><a href="#" class="pre-menu-a">手撕包菜</a><a href="#" class="pre-menu-a">夫妻肺片</a><a href="#" class="pre-menu-a">鱼香肉丝</a><a href="#" class="pre-menu-a">串串兔</a><a href="#" class="pre-menu-a">蒜泥白肉</a><a href="#" class="pre-menu-a">麻婆豆腐</a><a href="#" class="pre-menu-a">川北凉粉</a><a href="#" class="pre-menu-a">担担面</a><a href="#"  class="pre-menu-a">福寿螺</a><a href="#"  class="pre-menu-a">干煸藕丝</a><a href="#"  class="pre-menu-a">桑拿牛蛙</a>
        </div>
        <div class="pre-img">
          <a href="#"><img src="img/tuijiancai.png" width="257" height="197" /></a> 
          <a href="#" class="">夫妻肺片</a>    
        </div>
        <div class="pre-img">
          <a href="#"><img src="img/tuijiancai.png" width="257" height="197" /></a> 
          <a href="#" class="">夫妻肺片</a>    
        </div>
        <div class="pre-img">
          <a href="#"><img src="img/tuijiancai.png" width="257" height="197" /></a> 
          <a href="#" class="">夫妻肺片</a>    
        </div>

        <div class="pre-img">
          <a href="#"><img src="img/tuijiancai.png" width="257" height="197" /></a> 
          <a href="#" class="">夫妻肺片</a>    
        </div>  

      </div>

      <div class="up-down">
        <a href="#"><img src="/assets/mobile/preferential08.png" width="100" height="32" /></a>
        <a href="#"><img src="/assets/mobile/preferential09.png" width="100" height="32" /></a>
      </div>

    </div>

  </div>      

  <a href="#" class="touch-navup"></a>

</div>

