<div class="topbar">
  <form action="/mobile/shops" method="get">
    <div class="logo" style="cursor: pointer"><img src="/assets/mobile/logo.png" width="379" height="96"/></div>
    <div class="seach"><input name="term" type="text" class="search-input"/>
      <input name="" type="image" src="/assets/mobile/seachbtn.png" class="search-btn"/></div>
  </form>
</div>
<script type="text/javascript">
  $(document).ready(function(){
     $(".logo").click(function(){
         location.href = "/mobile/home/index";
     });
  });
</script>
