<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>民生家园网</title>
  <link href="/assets/mobile/reset.css" rel="stylesheet" type="text/css" />
  <link href="/assets/mobile/master.css" rel="stylesheet" type="text/css" />
</head>

<body style="background:url(/assets/mobile/bg.jpg) 0 0 repeat-y; position:relative;">
  <%= yield %>
</body>
</html>
